:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  background-image: url(https://images.squarespace-cdn.com/content/v1/541d868ce4b0c158abe9c5f3/1526725274978-DAMM0RTP39E4C3N0UOUY/RPG_Medieval_Kingdom_Kit_46.jpeg);
  background-repeat: no-repeat;
  background-size: cover; 
  */
  
}



body {
  margin: 0;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  
}

