.register_button{
    background-color: aliceblue;
    color: rgb(184, 184, 184);
    border: none;
    height: 60px;
    width: 20rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;   
    
    font-family: "MedievalSharp", cursive;
    font-size: 2rem;
    transition: all 500ms ease-in-out;
    
    
}

.register_button:hover{
    font-size: 2.1rem;
    color: #f0af0c;
    padding: 0px 10px 10px 25px;
    border-color: aliceblue;
    box-shadow: -10px 10px 0 #f0af0c78;
    
}