#root {
    width: 100%;;
    
    text-align: center;
  }
  .entry_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: #3a0a5e7a;
    
  }
  
  .lepo{
    height: 90vh;
  }

  .entry_div span{
    font-family: "MedievalSharp", cursive;
    font-size: 7rem;
    color: #b8860b;
    animation: span_animation 3s infinite alternate ease-in-out;
  }

  @keyframes span_animation {
    0% {
      filter: drop-shadow(0 0 10px #ff44003f );
    }
    100% {
      filter: drop-shadow(0 0 10px #FF4500 ) ;
      color: #ffb700;

    }
  }
  
  .description{
    font-size: 20px;
    width: 60%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Yrsa', cursive;

  }
  
  

  .align_div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    padding-top: 3rem;
  }
  
  .dice_div{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 6rem;
  }